Cria a sess√£o do Spark

In [1]:
import os
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('godoy').getOrCreate()

In [2]:
df = spark.read\
        .format("json")\
        .option("header", "true")\
        .load("amazon-music-reviews.json")

In [3]:
type(df)

pyspark.sql.dataframe.DataFrame

In [4]:
df.printSchema()

root
 |-- asin: string (nullable = true)
 |-- helpful: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- overall: double (nullable = true)
 |-- reviewText: string (nullable = true)
 |-- reviewTime: string (nullable = true)
 |-- reviewerID: string (nullable = true)
 |-- reviewerName: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- unixReviewTime: long (nullable = true)

In [8]:
df.head(2)

[Row(asin='5555991584', helpful=[3, 3], overall=5.0, reviewText='It\'s hard to believe "Memory of Trees" came out 11 years ago;it has held up well over the passage of time.It\'s Enya\'s last great album before the New Age/pop of "Amarantine" and "Day without rain." Back in 1995,Enya still had her creative spark,her own voice.I agree with the reviewer who said that this is her saddest album;it is melancholy,bittersweet,from the opening title song."Memory of Trees" is elegaic&majestic.;"Pax Deorum" sounds like it is from a Requiem Mass,it is a dark threnody.Unlike the reviewer who said that this has a "disconcerting" blend of spirituality&sensuality;,I don\'t find it disconcerting at all."Anywhere is" is a hopeful song,looking to possibilities."Hope has a place" is about love,but it is up to the listener to decide if it is romantic,platonic,etc.I\'ve always had a soft spot for this song."On my way home" is a triumphant ending about return.This is truly a masterpiece of New Age music,a must for any Enya fan!', reviewTime='09 12, 2006', reviewerID='A3EBHHCZO6V2A4', reviewerName='Amaranth "music fan"', summary="Enya's last great album", unixReviewTime=1158019200),
 Row(asin='5555991584', helpful=[0, 0], overall=5.0, reviewText="A clasically-styled and introverted album, Memory of Trees is a masterpiece of subtlety.  Many of the songs have an endearing shyness to them - soft piano and a lovely, quiet voice.  But within every introvert is an inferno, and Enya lets that fire explode on a couple of songs that absolutely burst with an expected raw power.If you've never heard Enya before, you might want to start with one of her more popularized works, like Watermark, just to play it safe.  But if you're already a fan, then your collection is not complete without this beautiful work of musical art.", reviewTime='06 3, 2001', reviewerID='AZPWAXJG9OJXV', reviewerName='bethtexas', summary='Enya at her most elegant', unixReviewTime=991526400)]

In [7]:
spark.sparkContext

In [9]:
df.show(2)

+----------+-------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
|      asin|helpful|overall|          reviewText| reviewTime|    reviewerID|        reviewerName|             summary|unixReviewTime|
+----------+-------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
|5555991584| [3, 3]|    5.0|It's hard to beli...|09 12, 2006|A3EBHHCZO6V2A4|Amaranth "music fan"|Enya's last great...|    1158019200|
|5555991584| [0, 0]|    5.0|A clasically-styl...| 06 3, 2001| AZPWAXJG9OJXV|           bethtexas|Enya at her most ...|     991526400|
+----------+-------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
only showing top 2 rows

In [10]:
df.limit(2).toPandas()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,5555991584,"[3, 3]",5.0,"It's hard to believe ""Memory of Trees"" came ou...","09 12, 2006",A3EBHHCZO6V2A4,"Amaranth ""music fan""",Enya's last great album,1158019200
1,5555991584,"[0, 0]",5.0,"A clasically-styled and introverted album, Mem...","06 3, 2001",AZPWAXJG9OJXV,bethtexas,Enya at her most elegant,991526400

In [23]:
def pshow(sparkDf, limit=10):
    return sparkDf.limit(limit).toPandas()

In [24]:
pshow(df)

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,5555991584,"[3, 3]",5.0,"It's hard to believe ""Memory of Trees"" came ou...","09 12, 2006",A3EBHHCZO6V2A4,"Amaranth ""music fan""",Enya's last great album,1158019200
1,5555991584,"[0, 0]",5.0,"A clasically-styled and introverted album, Mem...","06 3, 2001",AZPWAXJG9OJXV,bethtexas,Enya at her most elegant,991526400
2,5555991584,"[2, 2]",5.0,I never thought Enya would reach the sublime h...,"07 14, 2003",A38IRL0X2T4DPF,bob turnley,The best so far,1058140800
3,5555991584,"[1, 1]",5.0,This is the third review of an irish album I w...,"05 3, 2000",A22IK3I6U76GX0,Calle,Ireland produces good music.,957312000
4,5555991584,"[1, 1]",4.0,"Enya, despite being a successful recording art...","01 17, 2008",A1AISPOIIHTHXX,"Cloud ""...""",4.5; music to dream to,1200528000
5,5555991584,"[62, 65]",5.0,Who knows why I initially considered this to b...,"07 30, 2003",A2P49WD75WHAG5,Daniel J. Hamlow,Dreamy unearthly magic continues with Eire's o...,1059523200
6,5555991584,"[1, 5]",3.0,Enya is one of a few artists whom I consider s...,"05 27, 2000",A3O90G1D7I5EGG,dev1,Have You Hugged A Tree Today?,959385600
7,5555991584,"[5, 5]",5.0,Enya is one of of the most mysterious singers ...,"12 21, 2002",A3EJYJC25OJVKK,"Distant Voyageur ""Nicholas Computer""",The album for a romantic autumn evening,1040428800
8,5555991584,"[4, 4]",5.0,This is not another lousy Celtic New Age album...,"01 4, 2007",A1DA8VOH9NR6C7,E. Minkovitch,Simply wonderful.,1167868800
9,5555991584,"[12, 12]",5.0,"Many times, AND WITH GOOD REASON, the ""new age...","05 12, 2003",A33TRNCQK4IUO7,guillermoj,"A true gem, even if you don't love conventiona...",1052697600

In [25]:
df.describe().show()

+-------+-------------+------------------+--------------------+----------+--------------------+-----------------+-------------------+--------------------+
|summary|         asin|           overall|          reviewText|reviewTime|          reviewerID|     reviewerName|            summary|      unixReviewTime|
+-------+-------------+------------------+--------------------+----------+--------------------+-----------------+-------------------+--------------------+
|  count|        64706|             64706|               64706|     64706|               64706|            64529|              64706|               64706|
|   mean|5.555991584E9|  4.22251414088338|                null|      null|                null|1271.090909090909|      635.911663706|1.1511173280252218E9|
| stddev|          0.0|1.0860812782998102|                null|      null|                null|780.4020275956007|  877.3831755370402| 1.279250106829984E8|
|    min|   5555991584|               1.0|                    |01 1, 2000|A08161909WK3HU7UYTMW|              TM |                  !|           893721600|
|    max|   B00KILDVEI|               5.0|~~DISC 1 ~~Vision...|12 9, 2013|       AZYZA8FDL48GD|       ~*.LaDy.*~|~~~ MAGNIFICENT ~~~|          1406073600|
+-------+-------------+------------------+--------------------+----------+--------------------+-----------------+-------------------+--------------------+

In [26]:
pshow(df.describe())

,summary,asin,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,count,64706,64706,64706,64706,64706,64529,64706,64706
1,mean,5.555991584E9,4.22251414088338,None,None,None,1271.090909090909,635.911663706,1.1511173280252218E9
2,stddev,0.0,1.0860812782998102,None,None,None,780.4020275956007,877.3831755370402,1.279250106829984E8
3,min,5555991584,1.0,,"01 1, 2000",A08161909WK3HU7UYTMW,TM,!,893721600
4,max,B00KILDVEI,5.0,~~DISC 1 ~~Vision of Love - 6/5Love Takes Time...,"12 9, 2013",AZYZA8FDL48GD,~*.LaDy.*~,~~~ MAGNIFICENT ~~~,1406073600

In [27]:
pshow(df.describe("overall"))

  summary             overall
0   count               64706
1    mean    4.22251414088338
2  stddev  1.0860812782998102
3     min                 1.0
4     max                 5.0

In [28]:
df.count()

64706

Diferente do pandas o [] nao seleciona a coluna

In [29]:
df["reviewText"]

Column<b'reviewText'>

In [33]:
df.select("reviewText")

DataFrame[reviewText: string]

In [32]:
pshow(df.select("reviewText"))

                                          reviewText
0  It's hard to believe "Memory of Trees" came ou...
1  A clasically-styled and introverted album, Mem...
2  I never thought Enya would reach the sublime h...
3  This is the third review of an irish album I w...
4  Enya, despite being a successful recording art...
5  Who knows why I initially considered this to b...
6  Enya is one of a few artists whom I consider s...
7  Enya is one of of the most mysterious singers ...
8  This is not another lousy Celtic New Age album...
9  Many times, AND WITH GOOD REASON, the "new age...

In [38]:
pshow(df.select("reviewText", "reviewTime", "reviewerName"))

,reviewText,reviewTime,reviewerName
0,"It's hard to believe ""Memory of Trees"" came ou...","09 12, 2006","Amaranth ""music fan"""
1,"A clasically-styled and introverted album, Mem...","06 3, 2001",bethtexas
2,I never thought Enya would reach the sublime h...,"07 14, 2003",bob turnley
3,This is the third review of an irish album I w...,"05 3, 2000",Calle
4,"Enya, despite being a successful recording art...","01 17, 2008","Cloud ""..."""
5,Who knows why I initially considered this to b...,"07 30, 2003",Daniel J. Hamlow
6,Enya is one of a few artists whom I consider s...,"05 27, 2000",dev1
7,Enya is one of of the most mysterious singers ...,"12 21, 2002","Distant Voyageur ""Nicholas Computer"""
8,This is not another lousy Celtic New Age album...,"01 4, 2007",E. Minkovitch
9,"Many times, AND WITH GOOD REASON, the ""new age...","05 12, 2003",guillermoj

In [42]:
df.filter(df["reviewerName"] == "bob turnley").show()

+----------+--------+-------+--------------------+-----------+--------------+------------+--------------------+--------------+
|      asin| helpful|overall|          reviewText| reviewTime|    reviewerID|reviewerName|             summary|unixReviewTime|
+----------+--------+-------+--------------------+-----------+--------------+------------+--------------------+--------------+
|5555991584|  [2, 2]|    5.0|I never thought E...|07 14, 2003|A38IRL0X2T4DPF| bob turnley|     The best so far|    1058140800|
|B00000016W|[13, 32]|    3.0|What is the big d...| 03 6, 2006|A38IRL0X2T4DPF| bob turnley|ohmygod! it's Pet...|    1141603200|
|B000001EG8|  [0, 0]|    4.0|Once you advance ...| 08 9, 2010|A38IRL0X2T4DPF| bob turnley|   surprisingly good|    1281312000|
|B000001EXB|  [0, 0]|    5.0|I was a little sh...|02 11, 2011|A38IRL0X2T4DPF| bob turnley| A beautiful picture|    1297382400|
|B0000025DR|  [1, 1]|    5.0|Succeeding at pop...|07 19, 2003|A38IRL0X2T4DPF| bob turnley|Clicks on all cyl...|    1058572800|
|B0000025DT|  [1, 1]|    5.0|Walking in the sp...|07 21, 2003|A38IRL0X2T4DPF| bob turnley|       It is So Fine|    1058745600|
|B000002AI3| [1, 63]|    2.0|So he sang some s...|03 20, 2006|A38IRL0X2T4DPF| bob turnley|not bad for what ...|    1142812800|
|B000002X27|  [0, 0]|    5.0|great set of musi...| 04 5, 2009|A38IRL0X2T4DPF| bob turnley|excellent collection|    1238889600|
|B00000721I|  [1, 2]|    4.0|I've always hated...| 06 7, 2007|A38IRL0X2T4DPF| bob turnley|     one of his best|    1181174400|
|B000007NZO|  [3, 4]|    4.0|After always read...|02 12, 2009|A38IRL0X2T4DPF| bob turnley|One of Purple's Best|    1234396800|
|B000084T18|[28, 50]|    1.0|It's called bad p...|08 18, 2003|A38IRL0X2T4DPF| bob turnley|   Get real - Really|    1061164800|
|B000AL730O| [7, 10]|    4.0|Naturally all Bea...| 11 2, 2005|A38IRL0X2T4DPF| bob turnley|Keep your expecta...|    1130889600|
|B000UMQDHC| [7, 10]|    4.0|This 54m cd goes ...|10 25, 2007|A38IRL0X2T4DPF| bob turnley|Trance Country Ro...|    1193270400|
+----------+--------+-------+--------------------+-----------+--------------+------------+--------------------+--------------+

In [43]:
df.filter("reviewerName == 'bob turnley'").show()

+----------+--------+-------+--------------------+-----------+--------------+------------+--------------------+--------------+
|      asin| helpful|overall|          reviewText| reviewTime|    reviewerID|reviewerName|             summary|unixReviewTime|
+----------+--------+-------+--------------------+-----------+--------------+------------+--------------------+--------------+
|5555991584|  [2, 2]|    5.0|I never thought E...|07 14, 2003|A38IRL0X2T4DPF| bob turnley|     The best so far|    1058140800|
|B00000016W|[13, 32]|    3.0|What is the big d...| 03 6, 2006|A38IRL0X2T4DPF| bob turnley|ohmygod! it's Pet...|    1141603200|
|B000001EG8|  [0, 0]|    4.0|Once you advance ...| 08 9, 2010|A38IRL0X2T4DPF| bob turnley|   surprisingly good|    1281312000|
|B000001EXB|  [0, 0]|    5.0|I was a little sh...|02 11, 2011|A38IRL0X2T4DPF| bob turnley| A beautiful picture|    1297382400|
|B0000025DR|  [1, 1]|    5.0|Succeeding at pop...|07 19, 2003|A38IRL0X2T4DPF| bob turnley|Clicks on all cyl...|    1058572800|
|B0000025DT|  [1, 1]|    5.0|Walking in the sp...|07 21, 2003|A38IRL0X2T4DPF| bob turnley|       It is So Fine|    1058745600|
|B000002AI3| [1, 63]|    2.0|So he sang some s...|03 20, 2006|A38IRL0X2T4DPF| bob turnley|not bad for what ...|    1142812800|
|B000002X27|  [0, 0]|    5.0|great set of musi...| 04 5, 2009|A38IRL0X2T4DPF| bob turnley|excellent collection|    1238889600|
|B00000721I|  [1, 2]|    4.0|I've always hated...| 06 7, 2007|A38IRL0X2T4DPF| bob turnley|     one of his best|    1181174400|
|B000007NZO|  [3, 4]|    4.0|After always read...|02 12, 2009|A38IRL0X2T4DPF| bob turnley|One of Purple's Best|    1234396800|
|B000084T18|[28, 50]|    1.0|It's called bad p...|08 18, 2003|A38IRL0X2T4DPF| bob turnley|   Get real - Really|    1061164800|
|B000AL730O| [7, 10]|    4.0|Naturally all Bea...| 11 2, 2005|A38IRL0X2T4DPF| bob turnley|Keep your expecta...|    1130889600|
|B000UMQDHC| [7, 10]|    4.0|This 54m cd goes ...|10 25, 2007|A38IRL0X2T4DPF| bob turnley|Trance Country Ro...|    1193270400|
+----------+--------+-------+--------------------+-----------+--------------+------------+--------------------+--------------+

In [51]:
pshow(df.filter("reviewerName == 'bob turnley'").select("reviewerName", "overall"))

  reviewerName  overall
0  bob turnley      5.0
1  bob turnley      3.0
2  bob turnley      4.0
3  bob turnley      5.0
4  bob turnley      5.0
5  bob turnley      5.0
6  bob turnley      2.0
7  bob turnley      5.0
8  bob turnley      4.0
9  bob turnley      4.0

In [59]:
df.filter("reviewerName == 'bob turnley' OR reviewerName == 'Preston'").select("overall").count()

116

In [62]:
df.filter( (df["reviewerName"] == "Preston") & ((df["overall"] == 5) | (df["overall"] == 1)) ).count()

51

In [68]:
df_preston = df.filter(df["reviewerName"] == "Preston")

In [69]:
df_preston_1_5 = df_preston.filter( (df["overall"]==1) | (df["overall"]==5) ).count()
df_preston_1_5

51

In [70]:
df.filter(df["reviewerName"].like("%mary%")).count()

10

In [71]:
df.filter("reviewerName like '%mary%'").count()

10

In [74]:
df_grouped = df.groupBy("reviewerID").count()
pshow(df_grouped)

       reviewerID  count
0  A3M1PB13ZBJ3E3     10
1  A1TOFOOLB07QXX      6
2  A1NX6JFDR8RDOC     20
3  A2PISBPP8Y67ZG      7
4  A1J6Y2XLW900TR      8
5  A2ELSI5R71MP4A     11
6  A1EG35C531ISHN      7
7  A3SP37JLGH5KFY      5
8  A3URRZ02P8KLWM     10
9  A1AAQ4AI6MPSSF      8

In [75]:
from pyspark.sql.functions import *

In [77]:
df_grouped_sorted = df_grouped.orderBy(desc("count"))
pshow(df_grouped_sorted, 5)

       reviewerID  count
0   A9Q28YTLYREO7    578
1  A3HU0B9XUEVHIM    375
2  A3KJ6JAZPH382D    301
3  A3C6ZCBUNXUT7V    261
4   A8IFUOL8S9BZC    256

In [83]:
pshow(
    df_grouped_sorted.withColumnRenamed("reviewerID", "usu√°rio")\
        .withColumnRenamed("count", "total")
)

          usu√°rio  total
0   A9Q28YTLYREO7    578
1  A3HU0B9XUEVHIM    375
2  A3KJ6JAZPH382D    301
3  A3C6ZCBUNXUT7V    261
4   A8IFUOL8S9BZC    256
5  A1GN8UJIZLCA59    246
6  A200C7YQJ45LRR    200
7  A3W0POMI33YQXQ    195
8  A14GK0E64J0WAS    191
9  A3W4D8XOGLWUN5    191

In [92]:
df_top_products = df.groupBy("asin", "overall").count() \
                    .orderBy(desc("count")) \
                    .withColumnRenamed("asin", "Produto") \
                    .withColumnRenamed("count", "Total")

In [94]:
pshow(df_top_products, 20)

       Produto  overall  Total
0   B000002OPL      5.0    138
1   B00000163G      5.0    137
2   B0000025RI      5.0    134
3   B00004T9UF      5.0    126
4   B000023VR6      5.0    116
5   B000002KH3      5.0    113
6   B00005O54Q      5.0    112
7   B0007NFL18      1.0    109
8   B00000016W      5.0    109
9   B00006690F      5.0    106
10  B00000HZG9      5.0    105
11  B000001A5X      5.0    103
12  B000021YQV      5.0    101
13  B000084T18      5.0    100
14  B0000025F7      5.0    100
15  B00000FCBH      5.0     98
16  B00005YW4H      5.0     98
17  B000002NJS      5.0     97
18  B0000039Q3      5.0     97
19  B000001Y15      5.0     94

Usando SQL puro no Spark

In [95]:
df.createOrReplaceTempView("avaliacoes")
spark.catalog.listTables()

[Table(name='avaliacoes', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [96]:
spark.catalog.dropTempView("avaliacoes")
spark.catalog.listTables()

[]

In [98]:
df.createOrReplaceTempView("avaliacoes")
spark.sql("""
            SELECT reviewText, reviewTime, reviewerName
            FROM avaliacoes
            """).show()

+--------------------+-----------+--------------------+
|          reviewText| reviewTime|        reviewerName|
+--------------------+-----------+--------------------+
|It's hard to beli...|09 12, 2006|Amaranth "music fan"|
|A clasically-styl...| 06 3, 2001|           bethtexas|
|I never thought E...|07 14, 2003|         bob turnley|
|This is the third...| 05 3, 2000|               Calle|
|Enya, despite bei...|01 17, 2008|         Cloud "..."|
|Who knows why I i...|07 30, 2003|    Daniel J. Hamlow|
|Enya is one of a ...|05 27, 2000|                dev1|
|Enya is one of of...|12 21, 2002|Distant Voyageur ...|
|This is not anoth...| 01 4, 2007|       E. Minkovitch|
|Many times, AND W...|05 12, 2003|          guillermoj|
|I just recently p...| 01 2, 2001|             Heather|
|Over the past twe...|02 10, 2013|            Irishgal|
|[One CD, with a r...|07 30, 2013|     Kurt A. Johnson|
|The problem with ...|02 15, 2005|Lonnie E. Holder ...|
|If for some reaso...|04 26, 2005|   Michele L. Worley|
|Released five yea...|05 21, 2000|      Mr. A. Pomeroy|
|(...)She is one o...|07 17, 2001|    Neal C. Reynolds|
|What an enchantin...| 08 8, 2005|            Nse Ette|
|Enya - The Memory...|12 18, 2009|Rich Latta "meltd...|
|Enya has one of t...|02 11, 2003|   Russell Diederich|
+--------------------+-----------+--------------------+
only showing top 20 rows

In [115]:
df.createOrReplaceTempView("avaliacoes")
df_produto_sql = spark.sql("""
            SELECT asin as produto, count(1) as total 
            FROM avaliacoes
            GROUP BY asin
            ORDER BY total DESC 
            """).limit(10)
df_produto_sql.show()

Py4JJavaError: An error occurred while calling o773.showString.
: org.apache.spark.sql.catalyst.errors.package$TreeNodeException: execute, tree:
Exchange hashpartitioning(asin#6, 200)
+- *(1) HashAggregate(keys=[asin#6], functions=[partial_count(1)], output=[asin#6, count#3960L])
   +- *(1) FileScan json [asin#6] Batched: false, Format: JSON, Location: InMemoryFileIndex[file:/home/jupyter-agodoy/amazon-music-reviews.json], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<asin:string>

	at org.apache.spark.sql.catalyst.errors.package$.attachTree(package.scala:56)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec.doExecute(ShuffleExchangeExec.scala:119)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.InputAdapter.inputRDDs(WholeStageCodegenExec.scala:374)
	at org.apache.spark.sql.execution.aggregate.HashAggregateExec.inputRDDs(HashAggregateExec.scala:151)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:610)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.TakeOrderedAndProjectExec.doExecute(limit.scala:150)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.InputAdapter.inputRDDs(WholeStageCodegenExec.scala:374)
	at org.apache.spark.sql.execution.ProjectExec.inputRDDs(basicPhysicalOperators.scala:41)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:610)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan.getByteArrayRdd(SparkPlan.scala:247)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:339)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3384)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2545)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2545)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3365)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3364)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2545)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2759)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:255)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:292)
	at sun.reflect.GeneratedMethodAccessor131.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.IllegalStateException: Cannot call methods on a stopped SparkContext.
This stopped SparkContext was created at:

org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.lang.reflect.Constructor.newInstance(Constructor.java:423)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.GatewayConnection.run(GatewayConnection.java:238)
java.lang.Thread.run(Thread.java:748)

The currently active SparkContext was created at:

(No active SparkContext.)

	at org.apache.spark.SparkContext.assertNotStopped(SparkContext.scala:100)
	at org.apache.spark.SparkContext.broadcast(SparkContext.scala:1486)
	at org.apache.spark.sql.execution.datasources.json.JsonFileFormat.buildReader(JsonFileFormat.scala:100)
	at org.apache.spark.sql.execution.datasources.FileFormat$class.buildReaderWithPartitionValues(FileFormat.scala:129)
	at org.apache.spark.sql.execution.datasources.TextBasedFileFormat.buildReaderWithPartitionValues(FileFormat.scala:165)
	at org.apache.spark.sql.execution.FileSourceScanExec.inputRDD$lzycompute(DataSourceScanExec.scala:312)
	at org.apache.spark.sql.execution.FileSourceScanExec.inputRDD(DataSourceScanExec.scala:310)
	at org.apache.spark.sql.execution.FileSourceScanExec.inputRDDs(DataSourceScanExec.scala:330)
	at org.apache.spark.sql.execution.aggregate.HashAggregateExec.inputRDDs(HashAggregateExec.scala:151)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:610)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec.prepareShuffleDependency(ShuffleExchangeExec.scala:92)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec$$anonfun$doExecute$1.apply(ShuffleExchangeExec.scala:128)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec$$anonfun$doExecute$1.apply(ShuffleExchangeExec.scala:119)
	at org.apache.spark.sql.catalyst.errors.package$.attachTree(package.scala:52)
	... 57 more

In [116]:
spark.stop()